.about {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  border: 0;
  padding: 0;
  
}
.navbar {
  text-align: center;
  font-size: 26px;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  text-align: left;
  height: 100%;
  width: 175px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgba(30, 28, 28, 0.4);
  overflow-x:auto;
  padding-top: 20px;
}
.about-section {
  text-align: center;
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  text-align: left;
  align-content: center;
  background-color: rgba(30, 28, 28, 0.6);
  border-radius: 5px;
  margin-top: 25px;
  margin-left: 185px;
  margin-right: 25px;
  margin-bottom: 20px;
}
.list {
  font-size: 15px;
  background-color: rgba(30, 28, 28, );
  font-family: 'Montserrat', sans-serif;
  text-align: left;
  align-content: left;
}
.guests {
  font-size: 15px;
  background-color: rgba(30, 28, 28, );
  font-family: 'Montserrat', sans-serif;
  text-align: left;
  align-content: left;

}